@charset "UTF-8";
:root {
  /* theme color */
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
  /* dark-theme */
  --Dark-Blue-into: hsl(217, 28%, 15%);
  --Dark-Blue-main: hsl(218, 28%, 13%);
  --Dark-Blue-footer: hsl(216, 53%, 9%);
  --Dark-Blue-testimonial: hsl(219, 30%, 18%);
  /* dark-accent */
  --Cyan: hsl(176, 68%, 64%);
  --Blue:hsl(198, 60%, 50%);
  --Light-Red: hsl(0, 100%, 63%);
  /* neutral */
  --White: hsl(0, 0%, 100%);
  /* theme text */
  --raleway-400: "Raleway", sans-serif;
  --raleway-700: "Raleway", sans-serif;
  --open-sans: "Open Sans", sans-serif;
}

body,
html {
  /* color: #555; */
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  background-image: url("./images/bg-curvy-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #181f2a;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  background: var(--Light-Grayish-Blue);
  transition: 0.5s linear;
}

/* dark-mode */
.label {
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 5px;
  width: 50px;
  position: relative;
  cursor: pointer;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.ball {
  background: #fff;
  position: absolute;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  top: 2px;
  left: 1px;
  transition: transform 0.5s linear;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 400;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
  margin: 0 20px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 27px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

body.dark .nav a {
  color: var(--Very-Dark-Blue);
}

.nav.active {
  background-color: #202a3c;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

body.dark, .nav.active {
  background-color: var(--Light-Grayish-Blue);
}

.nav.active a {
  color: #00ffee;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #fff;
  font-weight: bold;
}

.logo {
  height: 35px;
  width: 110px;
}

/* main section  */
#main {
  text-align: center;
  margin-top: 45px;
}

.main-img img {
  margin: 50px 0px;
  width: 50%;
  height: auto;
}

.main-texts {
  margin: 30px 0;
}

.main-texts > h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 30px 0;
  width: 50%;
  margin: auto;
  padding-bottom: 15px;
}

.dark .main-texts > h1 {
  color: var(--Very-Dark-Blue);
}

.main-texts p {
  font-size: 1.2rem;
  width: 450px;
  margin: auto;
  margin-bottom: 30px;
}

.dark .main-texts p {
  color: var(--Very-Dark-Blue);
}

.btn {
  padding: 14px 70px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 200px;
  background-color: #339ecc;
  color: #fff;
  border: none;
  outline: none;
  margin-bottom: 40px;
  cursor: pointer;
}

.dark .btn {
  background: var(--Cyan);
}

button, .btn:hover {
  background-color: #65e2d9;
}

/* features section */
#features {
  padding: 10px 0;
  text-align: center;
  margin-top: 100px;
}

.dark #features {
  background: #fbfbff;
  width: 100vw;
}

.features_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 70%;
  margin: auto;
  margin-top: 8rem;
}

.features_content_main {
  width: 340px;
  margin: 0 auto;
}

.features_content_main .features_icon {
  margin-bottom: 30px;
}

.dark .features_content_main .features_icon {
  color: #339ecc;
}

.features_content_main h2 {
  margin-bottom: 20px;
}

.dark .features_content_main h2 {
  color: var(--Very-Dark-Blue);
}

.features_content_main p {
  margin-bottom: 30px;
}

.dark .features_content_main p {
  color: var(--Very-Dark-Blue);
}

/* productivity section */
#productivity {
  width: 90%;
  margin: auto;
  margin-top: 8rem;
}

.productivity_content {
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#productivity .productivity_image img {
  /* width: 100%; */
  padding-right: 40px;
  width: 100%;
  height: auto;
  margin-right: 30px;
}

#productivity .productivity_text {
  margin-top: 40px;
  display: flex;
  align-content: flex-start;
  margin-left: 10px;
}

.productivity_texts h1 {
  width: 350px;
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.dark .productivity_texts h1 {
  color: var(--Very-Dark-Blue);
}

.dark .productivity_texts p {
  color: var(--Very-Dark-Blue);
}

.productivity_texts p {
  width: 455px;
  margin: auto;
  display: flex;
  justify-items: flex-start;
  margin-bottom: 20px;
}

.productivity_texts a {
  color: #65e2d9;
  text-decoration: none;
  border-bottom: 2px solid #65e2d9;
  padding: 6px 0;
}

.arrow {
  display: flex;
  align-content: center;
}

.productivity_texts .arrow img {
  width: auto;
  height: 25px;
}

/* testimonial section */
#testimonial {
  margin-right: 30px;
  margin-left: 30px;
  padding: 0 10px 0 10px;
  margin-top: 8rem;
}

.testimonial_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 150px;
}

.testimonial_box {
  width: 400px;
  margin: auto;
  padding: 35px 28px;
  background-color: #202a3c;
  border-radius: 5px;
  margin-bottom: 40px;
  z-index: 60;
}

.dark .testimonial_box {
  background-color: #fff;
}

.testimonial_box .box_2 {
  margin: 0 10px 0 10px;
}

.testimonial_box p {
  margin-bottom: 20px;
}

.dark .testimonial_box p {
  color: var(--Very-Dark-Blue);
}

.dark .testimonial_box h4 {
  color: var(--Very-Dark-Blue);
}

.testimonial_box .profile img {
  border-radius: 50%;
  width: 40%;
  height: auto;
}

.testimonial_box .profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blockquote_text {
  position: relative;
  margin: 0.5em;
  /* padding: 0.5em 2em 0.5em 3em; */
  z-index: 50;
}

.blockquote_text::before {
  color: #65e2d9;
  font-size: 215px;
  position: absolute;
  top: -75px;
  left: 0;
  content: "“";
}

.dark .blockquote_text::before {
  color: var(--Very-Dark-Blue);
}

/* sign up section */
#sign-up {
  margin-top: 100px;
  background-color: #1c2431;
  padding: 30px 0px;
}

.dark #sign-up {
  background-color: var(--Desaturated-Blue);
}

.sign-up_content {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.signup-texts {
  width: auto;
  margin-left: 50px;
}

.form-content {
  margin-left: 20px;
  display: flex;
  /* flex-direction: column; */
}

.signup-texts h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.signup-texts > p {
  width: 400px;
  margin: auto;
}

.search_bar {
  margin: 0 30px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  flex-direction: column;
  /* flex-direction: column; */
}

.searchbar_1 > input[type=text] {
  padding: 15px 90px;
  text-decoration: none;
  border-radius: 0px;
  background-color: #fff;
  color: #f4f4f4;
  border: none;
  outline: none;
  margin-right: 30px;
  margin-bottom: 30px;
}

.searchbar_2 > input[type=text] {
  /* width: 18rem; */
  padding: 10px 30px;
  border: none;
  outline: none;
  text-align: center;
  margin-left: 18px;
  background-color: #339ecc;
}

.dark .searchbar_2 > input[type=text] {
  background: var(--Cyan);
}

.searchbar_2 .btn {
  border-radius: 0px;
}

.searchbar_2 > input[type=text]::-moz-placeholder {
  color: white;
}

.searchbar_2 > input[type=text]:-ms-input-placeholder {
  color: white;
}

.searchbar_2 > input[type=text]::placeholder {
  color: white;
}

.btn:hover {
  background-color: #65e2d9;
}

/* footer section */
section #footer {
  margin-top: 50px;
}

.footer_content {
  padding: 70px 0;
  width: 100%;
  margin: auto;
  background-color: #0b1523;
  z-index: 50;
}

.dark .footer_content {
  padding-top: 2rem;
  background-color: var(--Very-Dark-Blue);
}

.footer_content .footer_logo img {
  height: auto;
  width: 120px;
  margin-bottom: 30px;
  display: flex;
  padding-left: 20px;
}

.footer_location {
  display: flex;
  max-width: 400px;
  justify-items: flex-start;
  padding-right: 40px;
  padding-left: 65px;
  padding-bottom: 35px;
}

.footer_location:first-of-type,
.container:first-of-type {
  padding-left: 20px;
}

.footer_location img {
  height: 18px;
  width: auto;
  margin-left: 10px;
}

.footer_location p {
  margin-left: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.phone, .email {
  display: flex;
  padding: 10px 0;
}

.phone img, .email img {
  height: 15px;
  width: auto;
}

.links {
  padding-left: 0;
}

.links li {
  list-style: none;
  padding-bottom: 15px;
  /* padding-top: 0; */
}

.links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

.social-links {
  color: #fff;
  display: flex;
  font-size: 20px;
  cursor: pointer;
}

.social-links div:hover {
  color: #65e2d9;
}

.social-links div {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 100%;
  margin-right: 10px;
}

@media only screen and (max-width: 910px) {
  .signup-texts > p {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .search_bar {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .searchbar_2 button {
    display: flex;
    padding: 14px 120px;
  }

  #productivity .productivity_image img {
    padding-right: 0px;
    width: 90%;
    height: auto;
  }

  .signup-texts > p {
    width: 500px;
    margin-bottom: 10pz;
  }
}
@media only screen and (max-width: 768px) and (max-width: 480px) {
  .nav a {
    padding: 7px 7px;
  }

  .logo {
    height: 24px;
    width: auto;
  }

  .main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    font-weight: bolder;
  }

  .main-nav li {
    margin-left: 22px;
  }

  .main-img img {
    width: 85%;
    height: auto;
  }

  .main-texts h1 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 30px 0;
    width: 90%;
    margin: auto;
    padding-bottom: 23px;
  }

  .main-texts p {
    font-size: 1.2rem;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
  }

  .btn {
    margin-bottom: 20px;
  }

  #features {
    width: 85%;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    margin-top: 100px;
  }

  .features_content_main p {
    margin-bottom: 60px;
  }

  .features_content_main h2 {
    margin-bottom: 15px;
  }

  #productivity {
    width: 90%;
    margin: auto;
  }

  #productivity .productivity_image img {
    padding-right: 0px;
  }

  .productivity_texts h1 {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .productivity_texts p {
    width: 350px;
    margin: auto;
    display: flex;
    justify-items: flex-start;
    margin-bottom: 20px;
  }

  #testimonial {
    margin-right: 30px;
    margin-left: 30px;
    padding: 0 5px 0 5px;
    margin-top: 150px;
  }

  .testimonial_box {
    width: 550px;
    margin: auto;
    padding: 20px 30px;
    background-color: #202a3c;
    border-radius: 5px;
    margin-bottom: 40px;
  }

  #sign-up {
    /* top: -400px; */
    margin-top: 100px;
    background-color: #1c2431;
    padding: 30px 0px;
  }

  .sign-up_content {
    width: 100%;
    margin-left: 0;
  }

  .signup-texts {
    margin: 0 10px;
  }

  .signup-texts h1 {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .signup-texts p {
    width: 100%;
    margin: auto;
  }

  .search_bar {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .searchbar_1 > input[type=text] {
    padding: 15px 55px;
  }

  .searchbar_2 .btn {
    display: flex;
    padding: 14px 70px;
    border-radius: 0px;
    border: none;
    outline: none;
    /* margin-left: 18px; */
    background-color: #65e2d9;
  }

  .footer_content .footer_logo img {
    height: 45px;
    width: auto;
    margin-bottom: 30px;
    display: flex;
  }

  .social-links i {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .nav a {
    padding: 7px 5px;
  }
}/*# sourceMappingURL=style.css.map */